.popupSubscribe {}
.popupSubscribeContent {
    margin-top: 25%;
}
.mainPopupSubscribe {
    width: 800px;
}
.popupSubscribeTitle {
    font-family: 'ProximaNovaBold';
    font-size: 38px;
}
.popupSubscribeTitle span {}
.popupSubscribeMessage {
    font-size: 18px;
}
.popupSubscribeMessage span {}
.newsItemConatainer {
    width: 370px;
    margin: auto;
    background-color: #fefefe;
    border: 1px solid #d1d1d1;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}
.newsItem {
    overflow: hidden;
}
.newsItem div {
    display: inline-block;

}
.newsItemContent {
    width: 90%;
    float: left;
}
.newsItemContent {

}
.newsItemHeader {}
.newsItemHeader span {}
.newsItemBody {}
.newsItemBody div{
    display: inline-block;
}
.newsItemImage {
    width: 20%;
    float: left;
}
.newsItemImage img {}
.newsItemTextContainer {
    width: 80%;
}
.newsItemMainText {}
.newsItemMainText span {}
.newsItemFooterText {}
.newsItemFooterText span {}
.newsItemControls {
    width: 10%;
}
.newsItemCloseButton {}
.newsItemSettingsButton {}
.subscribePopupButtonContainer {}
.subscribePopupButton {}
.subscribePopupButton span {}
.popupSubscribeLink {}
.popupSubscribeLink span {}