@media (max-width: 992px) {
    .container {
        padding: 0;
        width: 100%;
        max-width: 100%;
    }
    .menuHeader {

    }
    .mainMenu {
        width: 125%;
    }
    .subMenu {
        display: none;
    }
    .bunnerContainerFull {
        display: none;
    }
    .specProgectContent .itemContent {
        left: 265px;
    }
    #mainMenuContainer {
        background-color: #58b42b;
    }
    .menuItem {
        display: none;
        width: 10%;
    }
    .menuHeader {
        max-width: 90%;
        width: 90%;
    }
    .menuButton {
        background-color: #000000;
        color: #ffffff;
        width: 20%;
        height: 134px;
        justify-content: space-between;
        font-size: 88px;
        padding-left: 5.6%;
    }
    .menuHeader {
        background-color: #58b42b;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 41px;
        max-width: 80%;
        padding-top: 22px;
        color: #ffffff;
        line-height: 40px;
    }
    .menu {
        max-width: 70%;
        width: 70%;
    }
    .logo {
        flex: auto;
        width: 10%;
        max-width: 10%;
        height: 104px;
        margin: 15px;
        margin-left: 31px;
        background-color: #58b42b;
        background-image: url("../../assets/img/mainLogoWhite.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .logo img {
        display: none;
    }
    .item {
        width: 100%;
        min-height: 459px;
        position: relative;
        padding-right: 15px;
        padding-top: 15px;
        margin-right: 0.01px;
    }
    .item img {
        width: 100%;
    }
    .item .topRow {
        left: calc(50% - 20px);
        max-width: 200px;
        margin: 0 auto;
        margin-bottom: 227px;
    }
    .double .itemContent {
        position: absolute;
        bottom: 40px;
        color: #ffffff;
        width: 100%;
    }
    .double .itemLabel {
        width: 45px;
    }
    .double .itemDate {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-left: 10px;
    }
    .double .itemDate span {
        display: inline-block;
        margin-top: 10px;
        vertical-align: middle;
    }
    .double .topRow div {
        display: inline-block;
        align-items: center;
    }
    .double .itemTags {
        width: 17%;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 33px;
    }
    .double .itemTags span {
        background-color: #3a8700;
        font-size: 36px;
        font-weight: bold;
        padding: 1px 14px
    }
    .double .itemTitle {
        width: 95%;
        margin: auto;
        text-align: center;
        padding-bottom: 20px;
    }
    .double .itemTitle span {
        font-size: 65px;
        text-align: center;
        font-family: 'MerriweatherRegular';
        line-height: 61px;
    }
    .double .itemDescription {
        width: 95%;
        margin: auto;
        text-align: center;
        padding-bottom: 10px;
        font-size: 35px
    }
    .double .temDescription span {

    }
    .double .itemViews {
        width: 11%;
        height: 40px;
        margin: auto;
        text-align: right;
        background-image: url(../../assets/img/icon/eye.png);
        background-repeat: no-repeat;
        background-position: left 9px;
        background-size: 37px;
    }
    .itemViews span {
        font-size: 28px;
        font-weight: bold;
    }
    .item.single {
        margin-top: 45px;
        margin-left: 80px;
        margin-right: 70px;
    }
    .single .itemTitle {
        width: 90%;
        margin-top: 45px;
        line-height: 40px;
    }
    .single .itemTitle span {
        font-size: 43px;
        text-align: center;
    }
    .single .itemRow div {
        display: inline-block;
        align-item: left;
    }
    .single .itemTags {
        font-size: 30px;
        font-family: 'ProximaNovaBold';
        margin-right: 20px;
        color: #49b744;
        text-transform: uppercase;
    }
    .single .itemViews {
        color: #bbbbbb;
        width: 110px;
        text-align: right;
        background-image: url(../../assets/img/icon/eyeGrey.png);
        background-repeat: no-repeat;
        background-position: left 10px;
        background-size: 33px;
    }
    .single .itemViews span {

    }

    .specProgectContent {
        display: none;
    }
    .specialProgestContainer {
        display: none;
    }
    .bunnerContainer {
        display: none;
    }
    .vacansyContainer {
        border: 1px solid #60e100;
        min-height: 390px;
        padding: 60px;
    }
    .vacansyHeader {
        font-size: 30px;
    }
    .vacansyHeader i {
        color: #60e100;
        font-size: 20px;
        position: relative;
        bottom: 8px;
    }
    .vacansyHeader span {
        text-transform: uppercase;
        font-weight: bold;
        color: #009900;
        padding-left: 20px;
    }
    .vaconsyItem {
        width: 85%;
        padding: 45px 0;
        border-bottom: 4px solid #ebebeb;
        line-height: 45px;
    }
    .vaconsyItem span {
        font-size: 45px;
    }
    .vacansyPosition {
        color: #3a8700;
        font-weight: bold;
    }

    .medium .itemContent {
        position: absolute;
        bottom: 15px;
        color: #ffffff;
        width: 100%;
        padding-right: 15px;
    }
    .medium .topRow {
        left: calc(50% - 20px);
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 261px;
    }
    .medium .itemDate {
        width: 80px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .medium .itemTitle {
        margin: auto;
        text-align: center;
        line-height: 17px;
        margin-bottom: 10px;
    }
    .medium .itemTitle span {
        font-size: 17px;
        text-align: center;
    }
    .medium .itemViews {
        width: 50px;
        margin: auto;
        text-align: right;
        background-image: url(../../assets/img/icon/eye.png);
        background-repeat: no-repeat;
        background-position: left 9px;
        background-size: 12px;
    }
    .medium .topRow div {
        display: inline-block;
        align-item: center;
    }
    .medium .itemLabel {
        width: 70px;
    }
    .medium .itemTags span {
        font-size: 40px;
        text-transform: uppercase;
        padding: 1px 5px;
    }


    .paginationContainer {
        margin: 0 auto;
    }
    span.activPage {
        background-color: #49a900;
    }
    .paginationContainer span {
        display: inline-block;
        width: 35px;
        height: 35px;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        background-color: #bababa;
        margin: 10px;
        margin-right: 0;
        padding-top: 2px;
        text-align: center;
    }
    span.nexPage {
        padding-top: 0;
        font-size: 30px;
        position: relative;
        top: 9px;
        background-color: #535353;
    }
    span.endPage {
        padding-top: 0;
        font-size: 30px;
        position: relative;
        top: 9px;
    }

}
































